<!doctype html>
<html lang="en">

    <head data-hook="inside_head">
        <link rel="stylesheet" media="screen" href="../packs/styles-65902fae21194c30c1be92f142a16270.css" />
        <link rel="stylesheet" media="screen" href="../packs/application-543847cda85932519850e17d5d551dfc.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8">
        <title>Laser TV - Hisense</title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="keywords" content="Laser TV" />
        <meta name="description" content="Laser TV" />
        <meta property="og:title" content="Hisense" />
        <meta property="og:image" content="http://global.hisense.com//spree/stores/1/og_images/original/1200_630_social.jpg?1543481022" />
        <meta property="og:site_name" content="Hisense" />
        <meta property="og:description" content="Hisense · Life Reimagined" />
        <link href="100-hisense-laser-tv.html" rel="canonical" />
        <meta name="csrf-param" content="authenticity_token" />
        <meta name="csrf-token" content="qTRR9KNQbVslImQBUaW05bI6Mx5wiM0zblYvb4mFWpkIW9W/0ZykouzoZR/dJjjrLy8TgnmviPf6XdDxImxGpA==" />

        <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
        <link rel="manifest" href="../site.webmanifest">
        <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">

        <script>
            SpreePaths = {
                "mounted_at": "/",
                "admin": "admin/"
            }
        </script>

        <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <![endif]-->
        <style>
            .desktop-banner{
                display: block!important;
            }
            .mobile-banner{
                display: none!important;
            }
            @media only screen and (max-width: 600px){
                .desktop-banner{
                    display: none!important;
                }
                .mobile-banner{
                    display: block!important;
                }
            }
            .checked{
                color:orange;
            }
            input[type=submit] {
                background-color: #0cc;
                color: white;
                font-size: 18px;
                padding: 12px 30px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
            textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
            }
            .all-reviews-btn{
                background-color: #0cc;
                color: white;
                font-size: 18px;
                padding: 12px 30px;
                border: none;
                border-radius: 4px;
            }
            /* The side navigation menu */
            .sidenav {
                height: 100%; /* 100% Full-height */
                width: 0; /* 0 width - change this with JavaScript */
                position: fixed; /* Stay in place */
                z-index: 1; /* Stay on top */
                top: 0; /* Stay at the top */
                left: 0;
                background-color: #fff; /* Black*/
                overflow-x: hidden; /* Disable horizontal scroll */
                padding-top: 60px; /* Place content 60px from the top */
                transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
                z-index:9999;
            }

            /* The navigation menu links */
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            /* When you mouse over the navigation links, change their color */
            .sidenav a:hover {
                color: #f1f1f1;
            }

            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
            #main {
                transition: margin-left .5s;
                padding: 20px;
            }

            /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
            .header__logo{
                top:-20px;
            }
            .review-number{
                color:#fff;
                font-weight:500;
            }
            .review-number:hover{
                text-decoration: none;
                color:#fff;
            }
            a:hover{
                text-decoration:none;
            }
        </style>
    </head>

    <body id="default" data-hook="body" class="page_products_show">

        <header class="header">
                <div class="header__container">
                    <a class="header__logo" href="#">
                        <img src="../logo/hisense-logo.png">
                    </a>
                    <div class="header__menu-wrapper">
                        <ul class="header__menu">
                            <li class="header__menu-item"><a class="header__menu-link" data-header-menu-item="2" href="#">Television</a></li>
                            <li class="header__menu-item"><a class="header__menu-link" data-header-menu-item="3" href="#">Refrigerator</a></li>
                            <li class="header__menu-item"><a class="header__menu-link" data-header-menu-item="46" href="#">Air Conditioner</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-menu">
                    <button class="button-cross main-menu__button" type="button"><span class="button-cross__inner"></span></button>
                    <button class="main-menu__button-search" type="button">
                        <i class="fa fa-search" aria-hidden="true"></i><span class="visibility-hidden">Search</span>
                    </button>
                    <div class="main-menu__modal">
                        <div class="main-menu__modal-wrapper">
                            <div class="main-menu__modal-inner main-menu__modal-inner_contents">
                                <div class="main-menu__modal-contents-inner">
                                    <ul class="main-menu__categories-menu">
                                        <li class="main-menu__categories-menu-item"><a class="main-menu__categories-menu-link" data-header-menu-item="2" href="#">Television</a></li>
                                        <li class="main-menu__categories-menu-item"><a class="main-menu__categories-menu-link" data-header-menu-item="3" href="#">Refrigerator</a></li>
                                        <li class="main-menu__categories-menu-item"><a class="main-menu__categories-menu-link" data-header-menu-item="46" href="#">Air Conditioner</a></li>
                                    </ul>
                                    <ul class="main-menu__menu">
                                        <li class="main-menu__menu-item"><a class="main-menu__menu-link" href="#">About Us</a></li>
                                        <li class="main-menu__menu-item"><a class="main-menu__menu-link" href="#">Support</a></li>
                                        <li class="main-menu__menu-item"><a class="main-menu__menu-link" href="#">Contact Us</a></li>
                                    </ul>
                                    <ul class="main-menu__submenu">
<!--                                        <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">COMPANY</a></li>
                                        <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">SPONSORSHIPS</a></li>
                                        <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">DOWNLOADS</a></li>
                                        <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Commercial Display</a></li>
                                        <li class="main-menu__submenu-item main-menu__submenu-item_language">
                                            <a class="main-menu__submenu-link" href="#">
                                                <img alt="Global" class="main-menu__submenu-image" src="/spree/countries/48/flags/normal/global-1536168473.jpg" />Global
                                            </a>
                                        </li>-->
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="main-menu__modal-inner main-menu__modal-inner_search">
                                <div class="main-menu__search-wrapper">
                                    <form class="main-menu__search-form" action="search" accept-charset="UTF-8" method="get">
                                        <input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="keywords" id="keywords" class="main-menu__search-input" />
                                        <input type="submit" value="Search" class="main-menu__search-submit" data-disable-with="Search" />
                                    </form>
                                </div>
                                <div class="main-menu__search-menu-wrapper">
                                    <ul class="main-menu__search-menu">
                                        <li class="main-menu__search-menu-item"><a class="main-menu__search-menu-link" href="#">ULED TV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-menu">
                    <div class="top-menu__menu" data-top-menu="2">
                        <div class="top-menu__inner">
                            <div class="top-menu__info-column">
                                <div class="top-menu__title">Our TVs</div>
                                <ul class="top-menu__list-wrapper">
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">LASER TV</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Premium ULED</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">ULED</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">UHD</div></a>
                                        </li>
                                    </ul>
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">40&quot; - 49&quot;</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">50&quot; - 59&quot;</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">60” -69”</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">70” and up</div></a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="top-menu__cards-column">
                                <div class="top-menu__cards">
                                    <div class="top-menu__card-wrapper">
                                        <a class="top-menu__card" href="#">
                                            <img alt="" class="top-menu__card-image" src="..//spree/taxons/2/left_banner_images/normal/ULED-TV-Lifestyle-Picture-2-(Dual-Stands)-1551457425.png" />
                                            <div class="top-menu__card-title"></div>
                                        </a>
                                    </div>
                                    <div class="top-menu__card-wrapper">
                                        <a class="top-menu__card" href="#">
                                            <img alt="" class="top-menu__card-image" src="..//spree/taxons/2/right_banner_images/normal/%E6%AC%A7%E6%B4%B2-1551457425.png" />
                                            <div class="top-menu__card-title"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="top-menu__bottom-link-wrapper"><a class="top-menu__bottom-link" href="#">View All Television</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="top-menu__menu" data-top-menu="3">
                        <div class="top-menu__inner">
                            <div class="top-menu__info-column">
                                <div class="top-menu__title">Our Refrigerators</div>
                                <ul class="top-menu__list-wrapper">
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">French Door</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Cross Door</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Bottom-Mount</div></a>
                                        </li>
                                    </ul>
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Single Door</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Side by Side</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Top-Mount</div></a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="top-menu__cards-column">
                                <div class="top-menu__cards">
                                    <div class="top-menu__card-wrapper">
                                        <a class="top-menu__card" href="#">
                                            <img alt="French Door with Ice&amp; Water Dispenser" class="top-menu__card-image" src="..//spree/taxons/3/left_banner_images/normal/french-door.png" />
                                            <div class="top-menu__card-title">French Door with Ice&amp; Water Dispenser</div>
                                        </a>
                                    </div>
                                    <div class="top-menu__card-wrapper">
                                        <a class="top-menu__card" href="#">
                                            <img alt="Four-Door with Tripe-Tech Cooling" class="top-menu__card-image" src="..//spree/taxons/3/right_banner_images/normal/38ddc6f5b40ed8c6bea21044516cba2-1556524239.png" />
                                            <div class="top-menu__card-title">Four-Door with Tripe-Tech Cooling</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="top-menu__bottom-link-wrapper"><a class="top-menu__bottom-link" href="#">View All Refrigerator</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="top-menu__menu" data-top-menu="46">
                        <div class="top-menu__inner">
                            <div class="top-menu__info-column">
                                <div class="top-menu__title">Our Air Conditioners</div>
                                <ul class="top-menu__list-wrapper">
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Hielo</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Evercool</div></a>
                                        </li>
                                    </ul>
                                    <ul class="top-menu__list">
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Extreme Cool</div></a>
                                        </li>
                                        <li class="top-menu__list-item">
                                            <a class="top-menu__list-link" href="#"><div class="top-menu__list-link-text">Extreme Cool S</div></a>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                            <div class="top-menu__cards-column">
                                <div class="top-menu__cards">
                                    <div class="top-menu__card-wrapper">
                                        <a class="top-menu__card" href="#">
                                            <img alt="Cooltouch" class="top-menu__card-image" src="..//spree/taxons/46/left_banner_images/normal/dropdown-1551435383.png" />
                                            <div class="top-menu__card-title">Cooltouch</div>
                                        </a>
                                    </div>
                                    <div class="top-menu__card-wrapper"></div>
                                </div>
                                <div class="top-menu__bottom-link-wrapper"><a class="top-menu__bottom-link" href="#">View All Air Conditioner</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </header>

        <script>
            if (typeof analytics !== 'undefined') {
                analytics.track('Product Viewed', {
                    "product_id": 122,
                    "sku": "100\" Laser TV",
                    "category": null,
                    "name": "100\" Hisense Laser TV",
                    "brand": null,
                    "price": "0.0",
                    "currency": "USD",
                    "url": "/products/100-hisense-laser-tv",
                    "image": null
                });
            }
        </script>
        <div class="product">
            <div class="desktop-banner">
                <div class="product__head product__head_ui_white" data-ui-white="" style=" background-image: url('..//spree/products/122/hero_bg_images/normal/head-bg-1538114786.jpg')">
                    <div class="product__head-image-column"><img alt="" class="product__head-image" src="..//spree/products/122/hero_images/normal/635x434.png" /></div>
                    <div class="product__head-text-column">
                        <div class="product__head-description">Find Your Color</div>
                        <div class="product__head-title">100&quot; Hisense Laser TV</div>
                        <div class="product__head-features">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <a href="#review" class="review-number">6 Reviews</a>
                        </div>
                        <div class="product__head-buttons">
                            <a href="#"><img src="../btn-images/flipkart-btn.png" style="border:2px solid #1B7AD4; border-radius:10px;"></a>
                            <a href="#"><img src="../btn-images/amazon-btn-1.png" style="border:2px solid #F39731; border-radius:10px;"></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="product__head product__head_ui_white mobile-banner" data-ui-white="" style=" background-image: url('..//spree/products/122/hero_bg_images/normal/head-bg-1538114786.jpg')">
                <div class="product__head-image-column"><img alt="" class="product__head-image" src="..//spree/products/122/hero_images/normal/390x260.png" /></div>
                <div class="product__head-text-column">
                    <div class="product__head-description">Find Your Color</div>
                    <div class="product__head-title">100&quot; Hisense Laser TV</div>
                    <div class="product__head-features">
                        
                    </div>
                    <div class="product__head-buttons">
                        <a href="#"><img src="../btn-images/flipkart-btn.png" style="border:2px solid #1B7AD4; border-radius:10px;"></a>
                        <a href="#"><img src="../btn-images/amazon-btn-1.png" style="border:2px solid #F39731; border-radius:10px;"></a>
                    </div>
                </div>
            </div>

            <div class="product__body">
                <div class="stick-bar product__stick-bar">
                    <div class="stick-bar__inner" data-ui-white="">
                        <div class="stick-bar__text">100&quot; Hisense Laser TV</div>
                        <div class="stick-bar__list">
                            <a class="stick-bar__link" data-offset-selector=".stick-bar" href="#overview">
                                <div class="stick-bar__link-inner">Overview</div>
                            </a>
                            <a class="stick-bar__link" data-offset-selector=".stick-bar" href="#specifications">
                                <div class="stick-bar__link-inner">SPECIFICATIONS</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2123/images/normal/1920x976.png" alt="4k picture quality " /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2123/images/normal/600x720.png" alt="4k picture quality " /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2051/images/normal/1920x976.png" alt="100 optimized screen" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2051/images/normal/600x720.png" alt="100 optimized screen" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2052/images/normal/1920x976.png" alt="Dbx tv" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2052/images/normal/600x720.png" alt="Dbx tv" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2053/images/normal/1920x976.png" alt="Eye friendly" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2053/images/normal/600x720.png" alt="Eye friendly" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2054/images/normal/1920x976.png" alt="Hdr" /></div>
                <div class="product__block  mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2054/images/normal/600x720.png" alt="Hdr" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2055/images/normal/1920x976.png" alt="Laser light engine" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2055/images/normal/600x720.png" alt="Laser light engine" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2056/images/normal/1920x976.png" alt="Pure color" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2056/images/normal/600x720.png" alt="Pure color" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2057/images/normal/1920x976.png" alt="Safety sensor" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2057/images/normal/600x720.png" alt="Safety sensor" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2058/images/normal/1920x976.png" alt="Short throw distance" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2058/images/normal/600x720.png" alt="Short throw distance" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2059/images/normal/1920x976.png" alt="Smooth motion" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2059/images/normal/600x720.png" alt="Smooth motion" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2060/images/normal/1920x976.png" alt="Tv tuner built in" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2060/images/normal/600x720.png" alt="Tv tuner built in" /></div>

                <div class="product__block desktop-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2061/images/normal/1920x976.png" alt="X fusion laser light" /></div>
                <div class="product__block mobile-banner" style=" background-image: url('100-hisense-laser-tv.html')"><img class="product__full-image" src="..//spree/content_blocks/2061/images/normal/600x720.png" alt="X fusion laser light" /></div>

                <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')"></div>
                <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')">
                    <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')"></div>
                    <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')">
                    </div>
                </div>
            </div>
            <div class="row" style=" background-color: #f8f8f8;">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="review" class="review" style="margin-bottom:100px;">
                        <div class="container">
                            <p style="padding:100px 100px 0px 100px; font-size:22px; font-weight:500;">

                                "When discussing a big-screen TV, size is bound to be the primary topic of conversation, but with Hisense’s 100-inch Ultra HD Laser TV, bigness approaches a thought-terminating cliche—one I have been happy to let take over my puny mind."

                            </p>
                            <div style="margin-top:10px;padding-left:100px;">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                            <p style="padding:10px 100px;font-size:22px; font-weight:500;">
                                - GIZMODO 
                            </p>
                        </div>
                        <div style="text-align:center">
                            <a href="javascript:void(0)" class="all-reviews-btn" onclick="openNav()">
                                Write a Review
                            </a>
                        </div>
                    </div>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div style="padding:30px;">
                            <h2 style="margin-top:25px; color:#7e7e7e">Write a Review</h2>
                        <div style="margin-top:30px;"><b style="font-size:18px; color:#7e7e7e;">Please rate<strong style="color:red">*</strong></b></div>
                        <div style="margin-top:25px;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div style="margin-top:25px;">
                            <form>
                                <div>
                                    <label for="comnt" style="color:#7e7e7e; font-size:18px;">Comment</label>
                                    <textarea id="subject" name="subject" placeholder="Write something.." style=""></textarea>
                                </div>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        </div>
                        
                    </div>
                    

                </div>
            </div>
            <div class="specs-block" id="specifications">
                <div class="specs-block__title">
                    Now, here’s the <strong>technical bit...</strong>
                </div>
                <div class="specs-block__text">Below, you’ll find all the technical details, such as dimension etc</div>
                <div class="specs-block__list">
                    <div class="specs-block__line">
                        <div class="specs-block__item">
                            <div class="specs-block__item-title">
                                Dual Laser+Phosphor Color filter <sup></sup>
                                <div class="specs-block__item-text">Light Source</div>
                            </div>
                            <div class="specs-block__item">
                                <div class="specs-block__item-title">100"</div>
                                <div class="specs-block__item-text">Screen Size</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')">
                <div class="specs-list">
                    <div class="specs-list__more">
                        <div class="specs-list__more-inner">
                            <div class="specs-list__more-group">
                                <div class="specs-list__more-title">Panel Performance</div>
                                <div class="specs-list__more-item">
                                    <div class="specs-list__more-item-name">Screen Size (diagonal)</div>
                                    <div class="specs-list__more-item-value">100&quot;</div>
                                </div>
                                <div class="specs-list__more-item">
                                    <div class="specs-list__more-item-name">HDR</div>
                                    <div class="specs-list__more-item-value">HDR technology</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="specs-list__button" type="button">
                        <div class="specs-list__button-text-wrapper">
                            <div class="specs-list__button-text">Full Specs</div>
                            <div class="specs-list__button-text">Hide Specs</div>
                        </div>
                        <svg class="icon icon_arrow-bottom">
                        <use xlink:href="#icon-arrow-bottom"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="product__block" style=" background-image: url('100-hisense-laser-tv.html')">
                <div class="html-block product__block html-block_ui_white" data-ui-white="" style="color: #fff; background-color: #141414;">

                </div>
            </div>
        </div>
    </div>

    <footer class="footer" data-ui-white="">
        <div class="subscribe-block" data-ui-white="">
            <div class="subscribe-block__inner">
                <h3 class="subscribe-block__title">Stay up to date with Hisense<br>emails about new products & other news</h3>
                <div class="subscribe-block__form-wrapper">
                    <transition @enter="fadeIn" @leave="fadeOut" mode="out-in">
                        <template v-if="formIsSuccess">
                            <div class="subscribe-block__message">You have successfully subscribed!</div>
                        </template>
                        <form class="subscribe-block__form form" @submit.prevent="validateBeforeSubmit" v-else="true" action="/subscribers" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="&#x2713;" />
                            <input type="hidden" name="authenticity_token" value="MFgUx4fF90PPOrK+OH4OGaytXF+sTX38zsOTaB8J58LYb0onV2XARMbsYaApTKfcWPEh6XVXcv4XwVFRPXI7Sw==" />
                            <div class="form__input subscribe-block__input-wrapper">
                                <input class="subscribe-block__input" name="email" placeholder="Enter your email here" type="text" v-validate="&#39;required|email&#39;" />
                                <template v-if="errors.has(&#39;email&#39;)">
                                    <div class="form__input-error subscribe-block__input-error">PLEASE, ENTER VALID EMAIL ADDRESS</div>
                                </template>
                            </div>
                            <button class="subscribe-block__submit" type="submit">Subscribe</button>
                        </form>
                    </transition>
                </div>
            </div>
        </div>
        <button class="scroll-top" type="button"><span class="visibility-hidden">Scroll to top</span>
            <svg class="icon icon_arrow-top">
            <use xlink:href="#icon-arrow-top"></use>
            </svg>
        </button>

        <div class="footer__body">
                    <div class="footer__menu-groups">
                        <div class="footer__menu-group">
                            <div class="footer__menu">
                                <a class="footer__logo" href="#">
                                    <svg class="icon icon_logo"><use xlink:href="#icon-logo"></use></svg><span class="visibility-hidden">Hisense</span>
                                </a>
                            </div>
                            <ul class="menu-column footer__menu">
                                <li class="menu-column__item"><a class="menu-column__link" href="#">About US</a></li>
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Support</a></li>
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Contact Us</a></li>
                                <!--                            <li class="menu-column__item"><a class="menu-column__link" href="http://global.hisense.com/sponsorships">SPONSORSHIPS</a></li>
                                                            <li class="menu-column__item"><a class="menu-column__link" href="http://global.hisense.com/downloads">DOWNLOADS</a></li>
                                                            <li class="menu-column__item"><a class="menu-column__link" href="http://commercial-display.hisense.com/index.html">Commercial Display</a></li>-->
                            </ul>
                            <ul class="menu-column footer__menu">
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Television</a></li>
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Refrigerator</a></li>
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Air Conditioner</a></li>
                            </ul>
                            <!--                        <ul class="menu-column footer__menu">
                                                        <li class="menu-column__item"><a class="menu-column__link" href="support.html">Support</a></li>
                                                        <li class="menu-column__item"><a class="menu-column__link" href="contact.html">Contact</a></li>
                                                        <li class="menu-column__item"><a class="menu-column__link" href="news.html">NEWS &amp; Blogs</a></li>
                                                    </ul>-->
                        </div>
                        <div class="footer__menu-group">
                            <div class="footer__menu">
                                <div class="footer__socials-title">Follow us</div>
                                <div class="footer__socials">
                                    <a class="footer__social-link" href="https://www.facebook.com/Hisense/" target="_blank">
                                        <i class="fa fa-facebook" aria-hidden="true"></i><span class="visibility-hidden">Facebook</span>
                                    </a>
                                    <a class="footer__social-link" href="https://twitter.com/HisenseIntl" target="_blank">
                                        <i class="fa fa-twitter" aria-hidden="true"></i><span class="visibility-hidden">Twitter</span>
                                    </a>
                                    <a class="footer__social-link" href="https://www.instagram.com/hisensesports/" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i><span class="visibility-hidden">Instagram</span>
                                    </a>
                                    <a class="footer__social-link" href="https://www.youtube.com/channel/UCVWVvaRqISdaosM65yVKCPg?view_as=subscriber" target="_blank">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i><span class="visibility-hidden">Youtube</span>
                                    </a>
                                </div>
                            </div>
                            <div class="footer__menu"></div>
                            <ul class="menu-column footer__menu">
                                <li class="menu-column__item menu-column__item_normal"><a class="menu-column__link footer__global-site-link" href="#">Hisense global</a></li>
                            </ul>
                            <ul class="menu-column footer__menu footer__menu_side_right">
                                <li class="menu-column__item"><a class="menu-column__link" href="#">Global</a></li>
                            </ul>

                        </div>
                    </div>
                    <ul class="footer__submenu">
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Legal Disclaimer</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Privacy Policy</a></li>
                        <li class="footer__submenu-item"><a class="footer__submenu-link" href="#">Sitemap</a></li>
                        <li class="footer__submenu-item">2020 © Copyright Hisense</li>
                    </ul>
                </div>
    </footer>

    <script src="../packs/application-15e9587c098405a83fc0.js"></script>
    <script>
                            /* Set the width of the side navigation to 250px */
                            function openNav() {
                                document.getElementById("mySidenav").style.width = "800px";
                            }

                            /* Set the width of the side navigation to 0 */
                            function closeNav() {
                                document.getElementById("mySidenav").style.width = "0";
                            }
    </script>
</body>

</html>
